
# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
env/

# -----------------------------
# Environment variables (SECRETS)
# -----------------------------
.env

# -----------------------------
# Django stuff
# -----------------------------
db.sqlite3
media/
staticfiles/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# VS Code / IDE
# -----------------------------
.vscode/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db